@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />


<div class="row">
     
        <div class="col-md-2">
            <div class="list-group">
                <a href="/Others/ReservationCriteriaView" class="list-group-item active" style="background-color:seagreen">Reservation Criteria</a>
            </div>
        </div>

        <div class="col-md-3">
        </div>

        <div class="col-md-7">
            <label style="font-size:25px">Pakistan Railway Reservation</label>
        </div>

</div>


<div class="row">       
        <div class="col-md-2">
            <div class="list-group">
                <a href="/Others/RefundPolicyView" class="list-group-item active" style="background-color:seagreen">Refund Policy</a>
            </div>
        </div>

    <div class="col-md-3">
    </div>

       <div class="col-md-5">
       </div>


         <div class="col-md-2">
            <div class="list-group">
                <a href="/Others/BookingOfficesView" class="list-group-item active" style="background-color:seagreen">Manual Booking Offices</a>
            </div>
        </div>

 </div> 

<div class="row">       
        <div class="col-md-2">
            <div class="list-group">
                <a href="/Others/SaloonView" class="list-group-item active" style="background-color:seagreen">Saloon</a>
            </div>
        </div>

       <div class="col-md-8">
            <label style="font-size:20px">Manual Booking Offices Details</label>
       </div>


        <div class="col-md-2">
            <div class="list-group">
                <a href="/Reservation/CancelReservationView" class="list-group-item active" style="background-color:seagreen">Cancel Reservation</a>
            </div>
        </div>

</div>



 <div class="row">
       
        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item active" style="background-color:seagreen">Classes</a>
                <a href="#" class="list-group-item">Economy Class</a>
                <a href="#" class="list-group-item">Business Class</a>
                <a href="#" class="list-group-item">AC Parlour</a>
                <a href="#" class="list-group-item">AC Sleeper</a>
            </div>
        </div>


     <div class="col-md-2"></div>

      <div class="col-md-6">
          <br /><br />
            <table border="1" style="background-color:white ; margin-left:-30px">
               <tr>
                   <td style="background-color:seagreen ; padding:15px; width:50px">Sr.</td>
                   <td style="background-color:seagreen ; padding:15px ; width:120px">City</td>
                   <td style="background-color:seagreen ; padding:15px ; width:250px">Address</td>
                   <td style="background-color:seagreen ; padding:15px ; width:100px">Phone No</td>
               </tr>

               <tr>
                   <td style="padding-left:30px">1.</td>
                   <td style="padding-left:35px">Lahore</td>
                   <td style="padding-left:15px">Current & Advance Reservation Office, Railway Station, Lahore</td>
                   <td style="padding-left:15px">042-99203552</td>
               </tr>

               <tr>
                   <td style="padding-left:30px">2.</td>
                   <td style="padding-left:35px">Multan</td>
                   <td style="padding-left:15px">Out Side Daulat Gate, Circular Road, Multan</td>
                   <td style="padding-left:15px">061-4502022</td>
               </tr>

               <tr>
                   <td style="padding-left:30px">3.</td>
                   <td style="padding-left:30px">Faisalabad</td>
                   <td style="padding-left:15px">Near Saif Dawa Khana, Allama Iqbal Road, Nur Wala Chowk Faisalabad</td>
                   <td style="padding-left:15px">042-36856940</td>
               </tr>

               <tr>
                   <td style="padding-left:30px">4.</td>
                   <td style="padding-left:35px">Quetta</td>
                   <td style="padding-left:15px">Civic Center, Staff College Road, Quetta Cantt.</td>
                   <td style="padding-left:15px">081-24904640</td>
               </tr>

               <tr>
                   <td style="padding-left:30px">5.</td>
                   <td style="padding-left:35px">Karachi</td>
                   <td style="padding-left:15px">Jinnah Terminal, Quaid-e-Azam International Airport, Karachi</td>
                   <td style="padding-left:15px">021-99071106</td>
               </tr>

              <tr>
                  <td style="padding-left:30px">6.</td>
                  <td style="padding-left:30px">Rawalpindi</td>
                  <td style="padding-left:15px">G-9 Markaz, Paragon Center, Karachi Company, Islamabad</td>
                  <td style="padding-left:15px">051-9262250</td>
              </tr>

            </table>
       </div>

     
     <div class="col-md-2">
            <div class="list-group">
                <a href="/Comment/CommentView" class="list-group-item active" style="background-color:seagreen">Comment</a>
            </div>
     </div>
</div>
 


