@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<EADProject.Models.Fare>

<br /><br />


<script>

    $(document).ready(function () {
        $("#button").click(function () {

            var from = $("#FromSelect").val();
            var to = $("#DestinationSelect").val();
            var tName = $("#TrainNameSelect").val();
            var tclass = $("#ClassSelect").val();

            $.getJSON('/Fares/GetList?from='+from+'&to='+to+'&tName='+tName+'&tclass='+tclass , function (data) {

                $("#table tr").remove();

                for (var i = 0, l = data.length; i < l; i++) {

                        $("#table").append("<tr style=\"height:40px\">" +
                                                "<td style=\"background-color:seagreen ; width:150px ; padding:15px\">From</td>"+
                                                "<td style=\"background-color:seagreen ; width:150px ; padding:15px\">To</td>"+            
                                                "<td style=\"background-color:seagreen ; width:210px ; padding:5px\">Train Name</td>"+            
                                                "<td style=\"background-color:seagreen ; width:170px ; padding:5px\">Class</td>"+
                                                "<td style=\"background-color:seagreen ; width:150px ; padding:5px\">Fare</td>"+
                                           "</tr>");


                        $("#table").append("<tr>" +
                                                "<td style=\"width:150px ; padding:5px\"> " + data[i].From_ + "</td>" +
                                                "<td style=\"width:150px ; padding:5px\"> " + data[i].To + "</td>" +
                                                "<td style=\"width:210px ; padding:10px\"> " + data[i].TrainName + "</td>" +
                                                "<td style=\"width:170px ; padding:5px\"> " + data[i].Class + "</td>" +
                                                "<td style=\"width:150px ; padding:5px\"> " + data[i].Fare1 + "</td>" +
                                           "</tr>");
                    


                }


            });

        });
    });

</script>  




<div class="row">
     
        <div class="col-md-2">
            <div class="list-group">
                <a href="/Others/ReservationCriteriaView" class="list-group-item active" style="background-color:seagreen">Reservation Criteria</a>
            </div>
        </div>

        <div class="col-md-3">
        </div>

        <div class="col-md-7">
            <label style="font-size:20px">Fares</label>
        </div>
</div>


<div class="row">       
        <div class="col-md-2">
            <div class="list-group">
                <a href="/Others/RefundPolicyView" class="list-group-item active" style="background-color:seagreen">Refund Policy</a>
            </div>
        </div>

       <div class="col-md-1">
       </div>

     <div class="col-md-2">
         <label>From : </label>
     </div>



    <div class="col-md-5">
          <select  class="form-control" style="width:200px ; height:35px" id="FromSelect">
              <option>Lahore</option>
              <option>Karachi</option>  
              <option>Faisalabad</option>
              <option>Multan</option>
              <option>Islamabad</option>
              <option>Gujranwala</option>
              <option>Gujrat</option>
              <option>Quetta</option>
              <option>Sahiwal</option>
              <option>Sialkot</option>
          </select>
    </div>

         <div class="col-md-2">
            <div class="list-group">
                <a href="/Others/BookingOfficesView" class="list-group-item active" style="background-color:seagreen">Manual Booking Offices</a>
            </div>
        </div>

 </div> 

<div class="row">       
        <div class="col-md-2">
            <div class="list-group">
                <a href="/Others/SaloonView" class="list-group-item active" style="background-color:seagreen">Saloon</a>
            </div>
        </div>

       <div class="col-md-1">
       </div>

     <div class="col-md-2">
         <label>Destination : </label>
     </div>


    <div class="col-md-5">
          <select  class="form-control" style="width:200px ; height:35px" id="DestinationSelect">
              <option>Lahore</option>
              <option>Karachi</option>  
              <option>Faisalabad</option>
              <option>Multan</option>
              <option>Islamabad</option>
              <option>Gujranwala</option>
              <option>Gujrat</option>
              <option>Quetta</option>
              <option>Sahiwal</option>
              <option>Sialkot</option>
          </select>
    </div>


        <div class="col-md-2">
            <div class="list-group">
                <a href="/Reservation/CancelReservationView" class="list-group-item active" style="background-color:seagreen">Cancel Reservation</a>
            </div>
        </div>


</div>

 <div class="row">
       
        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item active" style="background-color:seagreen">Classes</a>
                <a href="#" class="list-group-item">Economy Class</a>
                <a href="#" class="list-group-item">Business Class</a>
                <a href="#" class="list-group-item">AC Parlour</a>
                <a href="#" class="list-group-item">AC Sleeper</a>
            </div>
        </div>

       <div class="col-md-1">
       </div>

     <div class="col-md-2">
         <label>Train : </label><br /><br /><br />
         <label>Ticket Class : </label>
     </div>


    <div class="col-md-5">
          <select  class="form-control" style="width:200px ; height:35px" id="TrainNameSelect">
              <option>Allama Iqbal Express</option>
              <option>Chenab Express</option>
              <option>Ghouri Express</option>
              <option>Islamabad Express</option>
              <option>Shalimar Express</option>
          </select> <br /><br />

          <select  class="form-control" style="width:200px ; height:35px" id="ClassSelect">
              <option>Economy Class</option>
              <option>Business Class</option>  
              <option>Ac Parlour</option>
              <option>Ac Sleeper</option>
              <option>Saloon</option>
          </select>

        <br /><br /><br />
        <input type="button" class="btn btn-success" style="height:35px ; margin-left:30px" value="See Fares" id="button"/> <br /><br /><br />

    </div>


        <div class="col-md-2">
            <div class="list-group">
                <a href="/Comment/CommentView" class="list-group-item active" style="background-color:seagreen">Comment</a>
            </div>
        </div>
</div>


 

<div class="row">

    <div class="col-md-3"></div>

<div class="col-md-6">

    <table border="1" style="background-color:white" id="table">

    </table> 



</div>

</div>


